body {
	width: 100%;
}

#main, #ticket {
	height: 600px;
	position: relative;
	top: 0;
	left: 0;
}

#qrcode, #error {
	position: absolute;
	top: 30px;
	left: 70px;
}

#numeric_code {
	height: auto;
	width: 200px;
	position: absolute;
	bottom: 0px;
	left: 280px;
	background-color: white;
	text-align: center;
	font: "Courier New", Courier, monospace;
	font-size: 20px;
}

.error {
	color: #FF0000;
	font-size: 20px;
}